@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Inter:wght@300;400;500;600&display=swap');

@theme inline {
  --font-caveat: 'Caveat', cursive;
  --font-inter: 'Inter', sans-serif;
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

* {
  cursor: none !important;
}

body {
  background: #0a0a0a;
  color: #ededed;
  font-family: 'Inter', sans-serif;
}

.font-caveat {
  font-family: 'Caveat', cursive;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #111;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 2px;
}
